In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("customer_churn_data.csv")

In [3]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,CUST0000,Male,0,No,Yes,23,No,No phone service,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Bank transfer,49.85,1146.55,No
1,CUST0001,Female,0,Yes,No,43,No,No phone service,DSL,Yes,...,Yes,No,Yes,No,Month-to-month,No,Mailed check,100.70,4330.10,Yes
2,CUST0002,Male,1,No,No,51,Yes,No,DSL,No,...,Yes,Yes,No,No,One year,No,Electronic check,97.33,4963.83,Yes
3,CUST0003,Male,1,No,No,72,Yes,Yes,DSL,Yes,...,Yes,No,No,No,Month-to-month,No,Credit card,101.38,7299.36,No
4,CUST0004,Male,1,No,No,25,Yes,Yes,DSL,No,...,No,Yes,No,Yes,Month-to-month,No,Electronic check,52.22,1305.50,Yes

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5880 entries, 0 to 5879
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5880 non-null   object
 1   gender            5880 non-null   object
 2   SeniorCitizen     5880 non-null   int64
 3   Partner           5880 non-null   object
 4   Dependents        5880 non-null   object
 5   tenure            5880 non-null   int64
 6   PhoneService      5880 non-null   object
 7   MultipleLines     5880 non-null   object
 8   InternetService   5880 non-null   object
 9   OnlineSecurity    5880 non-null   object
 10  OnlineBackup      5880 non-null   object
 11  DeviceProtection  5880 non-null   object
 12  TechSupport       5880 non-null   object
 13  StreamingTV       5880 non-null   object
 14  StreamingMovies   5880 non-null   object
 15  Contract          5880 non-null   object
 16  PaperlessBilling  5880 non-null   object
 17  PaymentMethod     5880 non-null   object
 18  MonthlyCharges    5880 non-null   float64
 19  TotalCharges      5880 non-null   float64
 20  Churn             5880 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 964.8+ KB

In [5]:
data.shape

(5880, 21)

In [6]:
data.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [7]:
data.duplicated().sum()

0

In [8]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [9]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,CUST0000,Male,0,No,Yes,23,No,No phone service,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Bank transfer,49.85,1146.55,No
1,CUST0001,Female,0,Yes,No,43,No,No phone service,DSL,Yes,...,Yes,No,Yes,No,Month-to-month,No,Mailed check,100.70,4330.10,Yes
2,CUST0002,Male,1,No,No,51,Yes,No,DSL,No,...,Yes,Yes,No,No,One year,No,Electronic check,97.33,4963.83,Yes
3,CUST0003,Male,1,No,No,72,Yes,Yes,DSL,Yes,...,Yes,No,No,No,Month-to-month,No,Credit card,101.38,7299.36,No
4,CUST0004,Male,1,No,No,25,Yes,Yes,DSL,No,...,No,Yes,No,Yes,Month-to-month,No,Electronic check,52.22,1305.50,Yes

In [10]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

In [11]:
data['customerID'] = encoder.fit_transform(data['customerID'])

In [12]:
data['customerID']

0          0
1          1
2          2
3          3
4          4
        ...
5875    5875
5876    5876
5877    5877
5878    5878
5879    5879
Name: customerID, Length: 5880, dtype: int32

In [13]:
data.gender.value_counts()

gender
Male      2950
Female    2930
Name: count, dtype: int64

In [14]:
data.SeniorCitizen.value_counts()

SeniorCitizen
1    2944
0    2936
Name: count, dtype: int64

In [15]:
data.Partner.value_counts()

Partner
Yes    2995
No     2885
Name: count, dtype: int64

In [16]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [17]:
data.Dependents.unique()

array(['Yes', 'No'], dtype=object)

In [18]:
data.tenure.unique()

array([23, 43, 51, 72, 25, 35, 17, 18, 27, 15, 69, 42, 34, 48,  8, 10,  5,
       26, 62, 13,  9, 20, 57, 24, 33, 60, 64, 30, 14, 19, 71, 59, 67, 44,
       32, 11,  2, 68, 40, 46,  4, 38, 63, 29, 70, 52, 55, 66, 31, 61, 36,
       37, 47, 22, 39, 58,  7, 65,  6, 45,  1, 56, 21, 16, 49, 41,  3, 12,
       53, 28, 50, 54], dtype=int64)

In [19]:
data.PhoneService.unique()

array(['No', 'Yes'], dtype=object)

In [20]:
data.MultipleLines.value_counts()

MultipleLines
No phone service    2939
Yes                 1512
No                  1429
Name: count, dtype: int64

In [21]:
data.MultipleLines = data.MultipleLines.apply(lambda x: 'No' if (x == 'No phone service' or x == 'No') else 'Yes')

In [22]:
data.MultipleLines.value_counts()

MultipleLines
No     4368
Yes    1512
Name: count, dtype: int64

In [23]:
data.InternetService.value_counts()

InternetService
No             2029
DSL            1936
Fiber optic    1915
Name: count, dtype: int64

In [24]:
data.OnlineSecurity.value_counts()

OnlineSecurity
No internet service    2029
No                     1947
Yes                    1904
Name: count, dtype: int64

In [25]:
data.OnlineSecurity = data.OnlineSecurity.apply(lambda x: 'No' if (x == 'No internet service' or x == 'No') else 'Yes')

In [26]:
data.OnlineSecurity.value_counts()

OnlineSecurity
No     3976
Yes    1904
Name: count, dtype: int64

In [27]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [28]:
data.OnlineBackup.value_counts()

OnlineBackup
No internet service    2029
No                     1986
Yes                    1865
Name: count, dtype: int64

In [29]:
data.OnlineBackup = data.OnlineBackup.apply(lambda x: 'No' if (x == 'No internet service' or x == 'No') else 'Yes')

In [30]:
data.OnlineBackup.value_counts()

OnlineBackup
No     4015
Yes    1865
Name: count, dtype: int64

In [31]:
data.DeviceProtection.value_counts()

DeviceProtection
No internet service    2029
Yes                    1926
No                     1925
Name: count, dtype: int64

In [32]:
data.DeviceProtection = data.DeviceProtection.apply(lambda x: 'No' if (x == 'No internet service' or x == 'No') else 'Yes')

In [33]:
data.DeviceProtection.value_counts()

DeviceProtection
No     3954
Yes    1926
Name: count, dtype: int64

In [34]:
data.TechSupport.value_counts()

TechSupport
No internet service    2029
No                     1932
Yes                    1919
Name: count, dtype: int64

In [35]:
data.TechSupport = data.TechSupport.apply(lambda x: 'No' if (x == 'No internet service' or x == 'No') else 'Yes')

In [36]:
data.TechSupport.value_counts()

TechSupport
No     3961
Yes    1919
Name: count, dtype: int64

In [37]:
data.StreamingTV.value_counts()

StreamingTV
No internet service    2029
Yes                    1942
No                     1909
Name: count, dtype: int64

In [38]:
data.StreamingTV = data.StreamingTV.apply(lambda x: 'No' if (x == 'No internet service' or x == 'No') else 'Yes')

In [39]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [40]:
data.StreamingMovies.value_counts()

StreamingMovies
No internet service    2029
Yes                    1931
No                     1920
Name: count, dtype: int64

In [41]:
data.StreamingMovies = data.StreamingMovies.apply(lambda x: 'No' if (x == 'No internet service' or x == 'No') else 'Yes')

In [42]:
data.Contract.value_counts()

Contract
Month-to-month    2020
One year          1954
Two year          1906
Name: count, dtype: int64

In [43]:
data.PaperlessBilling.value_counts()

PaperlessBilling
No     2990
Yes    2890
Name: count, dtype: int64

In [44]:
data.PaymentMethod.value_counts()

PaymentMethod
Credit card         1503
Electronic check    1488
Mailed check        1462
Bank transfer       1427
Name: count, dtype: int64

In [45]:
data.PaymentMethod = data.PaymentMethod.apply(lambda x:'check' if (x=='Electronic check' or x=='Mailed check') else x)

In [46]:
data.PaymentMethod.value_counts()

PaymentMethod
check            2950
Credit card      1503
Bank transfer    1427
Name: count, dtype: int64

In [47]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [48]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [49]:
X = data.drop('Churn',axis=1)
X

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,Male,0,No,Yes,23,No,No,No,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer,49.85,1146.55
1,1,Female,0,Yes,No,43,No,No,DSL,Yes,No,Yes,No,Yes,No,Month-to-month,No,check,100.70,4330.10
2,2,Male,1,No,No,51,Yes,No,DSL,No,Yes,Yes,Yes,No,No,One year,No,check,97.33,4963.83
3,3,Male,1,No,No,72,Yes,Yes,DSL,Yes,No,Yes,No,No,No,Month-to-month,No,Credit card,101.38,7299.36
4,4,Male,1,No,No,25,Yes,Yes,DSL,No,No,No,Yes,No,Yes,Month-to-month,No,check,52.22,1305.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5875,5875,Male,0,Yes,Yes,71,Yes,No,DSL,Yes,No,No,Yes,No,No,Month-to-month,Yes,check,74.21,5268.91
5876,5876,Male,0,No,No,22,Yes,Yes,DSL,No,No,Yes,Yes,No,Yes,One year,No,check,65.43,1439.46
5877,5877,Female,0,No,No,68,No,No,Fiber optic,Yes,No,Yes,Yes,Yes,No,One year,Yes,Bank transfer,59.78,4065.04
5878,5878,Female,0,Yes,Yes,14,No,No,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Month-to-month,Yes,check,91.88,1286.32
5879,5879,Female,1,Yes,No,23,Yes,No,No,No,No,No,No,No,No,Month-to-month,No,check,25.45,585.35

In [50]:
Y = data.Churn
Y = Y.apply(lambda x: 1 if x=="Yes" else 0)

In [51]:
Y

0       0
1       1
2       1
3       0
4       1
       ..
5875    0
5876    1
5877    0
5878    0
5879    1
Name: Churn, Length: 5880, dtype: int64

In [52]:
X = pd.get_dummies(X,dtype=int)
X

,customerID,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,StreamingMovies_No,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer,PaymentMethod_Credit card,PaymentMethod_check
0,0,0,23,49.85,1146.55,0,1,1,0,0,...,1,0,1,0,0,0,1,1,0,0
1,1,0,43,100.70,4330.10,1,0,0,1,1,...,1,0,1,0,0,1,0,0,0,1
2,2,1,51,97.33,4963.83,0,1,1,0,1,...,1,0,0,1,0,1,0,0,0,1
3,3,1,72,101.38,7299.36,0,1,1,0,1,...,1,0,1,0,0,1,0,0,1,0
4,4,1,25,52.22,1305.50,0,1,1,0,1,...,0,1,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5875,5875,0,71,74.21,5268.91,0,1,0,1,0,...,1,0,1,0,0,0,1,0,0,1
5876,5876,0,22,65.43,1439.46,0,1,1,0,1,...,0,1,0,1,0,1,0,0,0,1
5877,5877,0,68,59.78,4065.04,1,0,1,0,1,...,1,0,0,1,0,0,1,1,0,0
5878,5878,0,14,91.88,1286.32,1,0,0,1,0,...,0,1,1,0,0,0,1,0,0,1
5879,5879,1,23,25.45,585.35,1,0,0,1,1,...,1,0,1,0,0,1,0,0,0,1

In [53]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=0)

In [54]:
lr = LogisticRegression()

In [55]:
lr.fit(X_train,Y_train)

LogisticRegression()

In [56]:
Y_train_pred = lr.predict(X_train)

In [57]:
accuracy_score(Y_train,Y_train_pred)

0.521622934888241

In [58]:
confusion_matrix(Y_train,Y_train_pred)

array([[1178,  906],
       [1063,  969]], dtype=int64)

In [59]:
print(classification_report(Y_train, Y_train_pred))

              precision    recall  f1-score   support

           0       0.53      0.57      0.54      2084
           1       0.52      0.48      0.50      2032

    accuracy                           0.52      4116
   macro avg       0.52      0.52      0.52      4116
weighted avg       0.52      0.52      0.52      4116

In [60]:
Y_test_pred = lr.predict(X_test)

In [61]:
accuracy_score(Y_test,Y_test_pred)

0.4824263038548753

In [62]:
confusion_matrix(Y_train,Y_train_pred)

array([[1178,  906],
       [1063,  969]], dtype=int64)

In [63]:
print(classification_report(Y_train, Y_train_pred))

              precision    recall  f1-score   support

           0       0.53      0.57      0.54      2084
           1       0.52      0.48      0.50      2032

    accuracy                           0.52      4116
   macro avg       0.52      0.52      0.52      4116
weighted avg       0.52      0.52      0.52      4116

In [64]:
from sklearn import tree

In [72]:
dtc = tree.DecisionTreeClassifier(max_depth=5)

In [73]:
dtc.fit(X_train,Y_train)
Y_train_pred = dtc.predict(X_train)
print(accuracy_score(Y_train, Y_train_pred))
print(classification_report(Y_train,Y_train_pred))

0.5425170068027211
              precision    recall  f1-score   support

           0       0.56      0.48      0.52      2084
           1       0.53      0.60      0.57      2032

    accuracy                           0.54      4116
   macro avg       0.54      0.54      0.54      4116
weighted avg       0.54      0.54      0.54      4116